
@{
    ViewBag.Title = "_Header";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" style="font-weight: 700" href="#">Jobs Platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Jobs")">Jobs <span class="sr-only">(current)</span></a>
            </li>

           
        </ul>
        @using (Html.BeginForm("LogOut", "Base", FormMethod.Post))
        {
            <button class="btn btn-outline-danger my-2 my-sm-0 ml-3" type="submit">Log out</button>
        }
    </div>
</nav>