
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "CV", FormMethod.Post))
{
    <form class="d-flex">
        <div style="width: 600px;
         align-self: center;">

            <h3 class="mb-5">Create your CV!</h3>

            <div class="form-group skill-group">
                <label>Skill</label>
                <div id="skillsContianer" style="display: flex; flex-direction: column; gap: 10px;">
                    <input type="text" class="form-control skill-input" style="max-width: none" placeholder="Skill name" name="skills[]">
                </div>
                <button type="button" class="btn btn-primary add-skill-btn w-100 mt-3">Add New Skill</button>
            </div>

            <div class="form-group experience-group">
                <label>Experience</label>
                <div id="experiencesContainer" style="display: flex; flex-direction: column; gap: 10px">
                    <div class="d-flex gap-2">
                        <input type="text" class="form-control experience-name" style="max-width: none" placeholder="Experience name" name="experienceNames[]">
                        <input type="number" class="form-control experience-duration" style="max-width: none" placeholder="Duration (year)" name="experienceDurations[]">
                    </div>
                </div>
                <button type="button" class="btn btn-primary add-experience-btn w-100 mt-3">Add New Experience</button>
            </div>

            <div class="form-group education-group">
                <label>Educations</label>
                <div id="educationContainer" style="display: flex; flex-direction: column; gap: 10px">
                    <div class="d-flex gap-2">
                        <input type="text" class="form-control education-name" style="max-width: none" placeholder="Education name" name="educationNames[]">
                        <input type="number" class="form-control education-duration" style="max-width: none" placeholder="Duration (year)" name="educationDurations[]">
                    </div>
                </div>
                <button type="button" class="btn btn-primary add-education-btn w-100 mt-3">Add New Education</button>
            </div>

            <div class="form-group">
                <label>Summary</label>
                <textarea type="text" class="form-control summary-input" style="max-width: none" placeholder="Summary" name="summary"></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Create</button>
            <p class="text-danger">@ViewBag.ErrorMessage</p>
        </div>
    </form>
}



<script>
    $(document).ready(function () {
        var maxExperiences = 100;
        var experiencesCount = 1; // Начальное количество полей опыта

        $('.add-experience-btn').click(function () {
            if (experiencesCount < maxExperiences) {
                experiencesCount++;

                var newExperienceGroup = `
            <div class="d-flex gap-2">
                <input type="text" class="form-control experience-name" style="max-width: none" placeholder="Experience name" name="experienceNames[]">
                <input type="number" class="form-control experience-duration" style="max-width: none" placeholder="Duration" name="experienceDurations[]">
            </div>`;

                $('#experiencesContainer').append(newExperienceGroup);
            } else {
                $('#errorMessage').text('You can add up to ' + maxExperiences + ' experiences.');
            }
        });

        $('.add-education-btn').click(function () {
            if (experiencesCount < maxExperiences) {
                experiencesCount++;

                var newExperienceGroup = `
            <div class="d-flex gap-2">
                <input type="text" class="form-control education-name" style="max-width: none" placeholder="Education name" name="educationNames[]">
                <input type="number" class="form-control education-duration" style="max-width: none" placeholder="Duration" name="educationDurations[]">
            </div>`;

                $('#educationContainer').append(newExperienceGroup);
            } else {
                $('#errorMessage').text('You can add up to ' + maxExperiences + ' education.');
            }
        });

        $('.add-skill-btn').click(function () {
            if (experiencesCount < maxExperiences) {
                experiencesCount++;

                var newExperienceGroup = '<input type="text" class="form-control skill-input" style="max-width: none" placeholder="Skill name" name="skills[]">';

                $('#skillsContianer').append(newExperienceGroup);
            } else {
                $('#errorMessage').text('You can add up to ' + maxExperiences + ' skills.');
            }
        });
    });
</script>

